<html>
	<head>
		<meta charset="utf-8">
		<style type="text/css">
			.ovd-table{
				display:table;
				width: 949px;
				margin: 0 auto;
			}
			ovd-row{
				display: table-row;
			}
			.ovd-caption{
				display: table-cell;
				height: 40px;
				text-align: center;
				vertical-align: middle;
				font-size: 24px;
				border: 1px solid black;
			}
		</style>
	</head>
<body>
	<div style="width:1024px;height:718px;margin:60px auto 0 auto; background-color:lightblue;">
		<div class="ovd-table">
			<div class="ovd-row">
				<div class="ovd-caption">
					Ежеденвный отчет по перебоям в оделе №
				</div>
			</div>
			<div class="ovd-row">
				<div class="ovd-cell caption">
					Перебои
				</div>
				<div class="ovd-cell clarification">
					ТОП 1 в запасе
				</div>
				<div class="ovd-cell formula">
					Формула
				</div>
				<div class="ovd-cell quantity">
					Количество
				</div>
			</div>
		</div>
	</div>
</body>
